// Place all the styles related to the public::home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*←スライドショー*/
.image1 {
  background-image: image-url("dish2.jpg");
}
.image2 {
  background-image: image-url("food2.jpg");
}
.image3 {
  background-image: image-url("food1.jpg");
}

#container{
  height: 800px;
  margin-bottom: 60px;
  background-size:cover;
}
/*←スライドショー*/


.Frame-Dash {
    margin-bottom: 60px;
    padding: 1rem;
    border: 1px dashed #fa754d;
    border-radius: 5px;
    line-height: 1.6;
}
