// Place all the styles related to the public::home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*←スライドショー*/
.image1 {
  background-image: image-url("dish2.jpg");
}
.image2 {
  background-image: image-url("food2.jpg");
}
.image3 {
  background-image: image-url("food1.jpg");
}

#container{
  height: 800px;
  margin-bottom: 60px;
  background-size:cover;
}
/*←スライドショー*/


.home-a {
  font-size: 30px;
  color: #878783;
}

.fa-yellow {
  color: #f6d55c;
}

.about-a {
  font-size: 60px;
  margin: 30px 0 20px 0;
  font-family: 'Lobster', cursive;
}

.about-b {
  font-size: 30px;
  margin-top:30px;
}

.about-c {
  font-size: 40px;
  margin-top:30px;
}

.about-d {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  color: #33332e;
}

.box2 {
    height: 600px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #878783;
    background: #FFF;
    border: solid 3px #878783;
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0;
    padding: 0;
}

