<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>レシピ一覧</h1>
			<% @recipes.each do |recipe| %>
			<%= attachment_image_tag recipe, :image, style: "width: 192px; height: 108px;" %>
			<%= recipe.user.nickname %>
			<%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %>
			<% end %>
		</div>
	</div>
</div>