<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="heading06"><i class="fas fa-star-and-crescent"></i> Review</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5">
			<%= attachment_image_tag @recipe, :image, style: "width: 600px; height: 400px;", fallback: "noimage.jpg" %>
			<%= link_to "<<BACK", admin_recipe_path(@recipe), class: "button light ml-3 mt-3" %>
		</div>
		<div class="col-lg-1">
		</div>
		<div class="col-lg-6">
			<%= render 'public/reviews/reviews', reviews: @reviews %>
		</div>
	</div>
</div>
