<div class="container">
	<div class="row">
		<div class="col-lg-4">
		  <div class="heading06"><i class="fas fa-user"></i>ジャンル編集</div>
		</div>
	</div>
	<div class="row">
		<%= render 'form', genre: @genre, url: admin_genre_path(@genre), submit: '更新' %>
	</div>
</div>