<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="title">Genre edit</div>
			 <%= render 'form', genre: @genre, url: admin_genre_path(@genre), submit: '更新' %>
		</div>
	</div>
</div>