  <div class="container">
    <div class="row">
      <div class="title"><i class="fas fa-carrot"></i> About</div>
      <p>このホームページでは、一人暮らしの忙しい社会人に向けた作り置き料理を投稿できるサイトです。</p>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-7">
        <p class="lead">掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</p>
      </div>
      <div class="col-md-5">
        <%= image_tag 'dish2.jpg' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-7 order-md-2">
        <p class="lead">その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag 'dish2.jpg' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-7">
        <p class="lead">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>
      </div>
      <div class="col-md-5">
        <%= image_tag 'dish2.jpg' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->