<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="about-a"> your meal prep </div>
      <%= image_tag 'sozai5.png' %>
      <div class="about-b">忙しい社会人に向けた作り置き料理のサイト</div>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <div class="col-lg-4">
        <div class="box2">
          <div class="about-c">サイトテーマ</div>
          <div class="about-d">「一人暮らしの知恵をシェアしよう！！」</div>
          <%= image_tag 'sozai8.jpg', :size =>'350x250' %>
          <p>いつも食材が余ってしまう。。。。<br>
              一人暮らしの社会人、学生<br>
              料理が苦手だけど挑戦したい!<br>
              そんな方に向けて<br>
              『作り置き料理』<br>
            　　に焦点を絞って作ったサイトです。</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box2">
          <div class="about-c">Recipe機能</div>
          <div class="about-d">
            <%= image_tag 'sozai3.jpeg', :size =>'350x250' %>
          </div>
          <p>
          　　自身のレシピ投稿<br>
          　　他の会員のレシピ閲覧<br>
          　　お気に入り登録<br>
          　　レシピの星レビュー・コメントの投稿<br>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box2">
          <div class="about-c">My page機能</div>
          <div class="about-d">
            <%= image_tag 'sozai9.png', :size =>'350x250' %>
          </div>
          <p>自身のプロフィールの編集<br>
          お気に入りした商品の閲覧</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.container -->