
<h1>ホーム画面</h1>

<%= link_to new_user_registration_path, method: :get do %>
 <i class="fas fa-home"></i>新規登録
<% end %>

<i class="fas fa-home"></i>
<i class="fas fa-sign-in-alt"></i>
<i class="fas fa-user-cog"></i>
<i class="fas fa-users"></i>
<i class="far fa-smile"></i>
<i class="fas fa-user-cog"></i>
<i class="fas fa-fish"></i>
<i class="fas fa-carrot"></i>